<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.gentleflo.complimentSticker.post.compliment.dao.ComplimentDAO">
 	<insert id="insertCompliment" parameterType="com.gentleflo.complimentSticker.post.compliment.model.Compliment">
 		INSERT INTO
 			`compliment`
 		(
 			`userId`
 			, `loginId`
 			, `postId`
 			, `compliment`
 			, `createdAt`
 			, `updatedAt`
 		) VALUES 
 			<foreach collection="compliment" item="complimentList" separator=" , ">
 				(	
 					#{complimentList.userId }
 					, #{complimentList.loginId }
 					, #{complimentList.postId }
 					, #{complimentList.compliment }
 					, now()
 					, now()
 				)
 			</foreach>
 	</insert>
 	
 	<select id="selectComplimentByUserIdPostId" resultType="com.gentleflo.complimentSticker.post.compliment.model.Compliment">
 		SELECT 
 			`id`
 			, `userId`
 			, `loginId`
 			, `postId`
 			, `compliment`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`compliment`
 		WHERE 
 			`postId` = #{postId }
 	</select>
 	
 </mapper>
 
 

 