<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.gentleflo.complimentSticker.post.gift.dao.GiftDAO">
 	<insert id="insertGift" parameterType="map">
 		INSERT INTO
 			`gift`
 		(
 			`userId`
 			, `postId`
 			, `loginId`
 			, `wishListId`
 			, `alarmStatus`
 			, `createdAt`
 		) VALUES (
 			#{userId }
 			, #{postId }
 			, #{loginId }
 			, #{wishListId }
 			, 'beforeCheck'
 			, now()
 		)
 	</insert>
 	
 	<select id="selectGiftAlarmByPostIdAlarmStatus" resultType="int">
 		SELECT 
 			count(*)
 		FROM 
 			`gift`
 		WHERE
 			`postId` = #{postId }
 			AND `alarmStatus` = 'beforeCheck'
 	</select>
 	
 	<update id="updateGiftAlarmStatus">
 		UPDATE 
 			`gift`
 		SET
 			`alarmStatus` = 'afterCheck'
 		WHERE
 			`id` = #{giftId }
 			AND `userId` = #{userId } 
 	</update>
 </mapper>