<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
 <mapper namespace="com.gentleflo.complimentSticker.post.dao.PostDAO">
 	
 	<!-- postId(pk)가 필요해서 id를 얻기 위한 insert -->
 	<insert id="insertPost" parameterType="com.gentleflo.complimentSticker.post.model.Post" 
 	useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO `post`
 		(
 			`userId`
 			, `loginId`
 			, `startDate`
 			, `endDate`
 			, `stickerBoardId`
 			, `share`
 			, `createdAt`
 			, `updatedAt`
 		) VALUES (
 			#{userId }
 			, #{loginId }
 			, #{startDate }
 			, #{endDate }
 			, #{stickerBoardId }
 			, #{share }
 			, now()
 			, now()
 		)
 	</insert>
 	
 	<select id="selectPostList" resultType="com.gentleflo.complimentSticker.post.model.Post">
 		SELECT
 			`id`
 			,`userId`
 			, `loginId`
 			, `startDate`
 			, `endDate`
 			, `stickerBoardId`
 			, `share`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`post`
 		WHERE
 			`loginId` = #{loginId }
 			
 		ORDER BY
 			`id` DESC			
 	</select>
 	
 	<select id="selectPostByPostId" resultType="com.gentleflo.complimentSticker.post.model.Post">
 		SELECT 
 			`id`
 			,`userId`
 			, `loginId`
 			, `startDate`
 			, `endDate`
 			, `stickerBoardId`
 			, `share`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`post`
 		WHERE
 			`id` = #{postId } 
 	</select>
 	
 </mapper>
 