<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
 <mapper namespace="com.gentleflo.complimentSticker.user.dao.UserDAO">
 	<insert id="insertUser" parameterType="map">
 		INSERT INTO
 			`user`
 		(
 			`email`
 			, `loginId`
 			, `userName`
 			, `password`
 			, `createdAt`
 			, `updatedAt`
 		) VALUES (
 			#{email }
 			, #{loginId }
 			, #{userName }
 			, #{password }
 			, now()
 			, now()
 		)
 	</insert>
 	
 	<select id="selectByLoginId" parameterType="String" resultType="int">
 		SELECT
 			count(*)
 		FROM 
 			`user`
 		WHERE 
 			`loginId` = #{loginId }
 	</select>
 
 
 </mapper>