@charset "UTF-8";


#wrap {
	width: 1200px;
	margin: auto;
}

header {
	height: 82px;
	background-color: #BAECE2;
}

.header-slogan {
	font-size: 18px;
	font-family: Lucida Console, Courier, monospace;
}


section {
	width: 650px;
	height: 700px;
	margin: auto;
}

.preview-header {
	height: 120px;
}
.profile-icon {
	font-size:58px;
}
.userName-box {
	width: 88px;
    height: 25px;
    background-color: white; 
    box-shadow: inset 0 -22px #BAF0D5;
}
.bookmark-icon {
	font-size: 16px;
}

.preview-section {
	height: 450px;
}
.preview-main {
	width: 230px;
	height: 370px;
	border: solid 1px #E5E5E5;
	border-radius: 10px;
}
.preview-aside {
	width: 150px;
	height: 200px;
	border: solid 1px #E5E5E5;
	border-radius: 12px;
}
.stickerBoardImgPreview {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.gift-icon {
	font-size: 20px;
}

.go-to-edit-view {
	font-family: Helvetica, Arial, sans-serif;
	width: 179px;
    height: 24px;
    background-color: white; 
    box-shadow: inset 0 -8px #BAF0D5; 
}
