@charset "UTF-8";

#wrap {
	width: 1200px;
	margin: auto;
}

header {
	height: 82px;
	background-color: #BAECE2;
}

.header-slogan {
	font-size: 16px;
	font-family: Lucida Console, Courier, monospace;
}

section {
	width: 800px;
	margin: auto;
}

.profile-icon {
	font-size:50px;
}

