@charset "UTF-8";

#wrap {
	width: 1200px;
	margin: auto;
}

header {
	height: 84px;
	background-color: #BAECE2;
}

.header-slogan {
	font-size: 20px;
	font-family: Lucida Console, Courier, monospace;
}

section {
	width: 840px;
	height: 1020px;
	margin: auto;
}

.profile {
	height: 120px;
}
.profile-icon {
	font-size:58px;
	color:#444;
}

.userName-box {
	
    height: 25px;
    border-bottom:25px solid #BAF0D5;
    
}

.plan-section {
	width: 800px;
	margin: auto;
}
.plan-section-nav {
	width: 300px;
}

.calendar-icon {
	font-size:50px;
}
.date-box {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 600;
	width: 65px;
    height: 22px;
    background-color: white; 
    border-bottom:8px solid #BAF0D5;
}
.startDate {
	width: 50px;
}
.endDate {
	width: 50px;
}
.start-date-input {
	height: 43px;
	width: 220px;
}
.end-date-input {
	height: 43px;
	width: 219px;
}

.compliment-list-icon {
	font-size: 52px;
}
.compliment-list-box {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 600;
	width: 94px;
    height: 22px;
    background-color: white; 
    border-bottom:8px solid #BAF0D5;
}
.input-class {
	height: 43px;
	width: 440px;
}


.award-icon {
	font-size:52px;
}
.award-list-box {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 600;
	width: 113px;
    height: 22px;
    background-color: white; 
    border-bottom:8px solid #BAF0D5;
}


.stickerBoard-icon {
	font-size:47px;
}
.sticker-board-box {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 600;
	width: 158px;
    height: 22px;
    background-color: white; 
    border-bottom:8px solid #BAF0D5;
}

.stickerBoardImgBox {
	width: 210px;
	height: 280px
}

.stickerBoardImgPreview {
	object-fit: cover;
	width: 100%;
	height: 100%;
}


.share-icon {
	font-size: 45px;
}

.share-box {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 600;
	width: 98px;
    height: 22px;
    background-color: white; 
    border-bottom:8px solid #BAF0D5;
}

.btn-box {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 600;
	width: 65px;
    height: 60px;
    background-color: white;
    box-shadow: inset 0 -8px #BAF0D5; 
}
